// bower:scss
// endbower

/* Moviessss yey! */

/* Mixins
 * ========================== */

.clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
.unlistify {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* end Mixins */




/* Baseline
 * ========================== */

html {
  font-size: 1.2em;
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  background-color: #d7d7d7;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* end Basline */




/* Persistent
 * ========================== */

main {
}
.vessel {
  padding: 1.4em;
}

#movies {
  margin: 0 -1em;
  @extend .unlistify;
  @extend .clearfix;
}
#movies > li {
  float: left;
  width : 33.3333333333333333%;
  padding: 1em;

  &:nth-child(3n+1){
    clear: left;
  }
}
/* end Persistent */




/* Modular
 * ========================== */

.movie {
  width: 100%;
  float: left;
  padding: .6em;
  background-color: #fff;
}
.poster,
.data {
  float: left;
}
.poster {
}
.poster a {
}
.poster img {
  display: block;
}
.data {
  max-width: calc(100% - 16.7em);
  margin: 0 0 0 1em;
}
.data header {
}
.data header h2 {
}
.data header h2 span {
}
.scores {
}
.scores s {
}
.scores u {
}
.scores b {
}
.imdb {
}
.metacritic {
}
.actors {
}
.actors p {
}
.plot {
}
.plot p {
}
.details {
}
.details li {
}
/* end Modular */




/* Responsive
 * ========================== */

/* end Responsive */




/* x
 * ========================== */

/* end x */
