<div class='vessel'>
<h1>Movies to watch!</h1>

<ul id='movies'>
  <li data-ng-repeat='movie in movies'>
    <div class='movie'>
      <div class='poster'>
        <a href='http://www.imdb.com/title/{{movie.imdbID}}/'>
          <img src='{{movie.Poster}}' alt='{{movie.Title}}'>
        </a>
      </div>
      <div class='data'>
        <header>
          <h2>{{movie.Title}} <span>{{movie.Year}}</span></h2>
        </header>
        <div class='scores'>
          <s class='imdb' ng-style='imdbBar({{movie.imdbRating}})'>
            <u>imdb</u>
            <b>{{movie.imdbRating}}</b>
          </s>
          <s class='metacritic' ng-style='metacriticBar({{movie.Metascore}})'>
            <u>metacritic</u>
            <b>{{movie.Metascore}}</b>
          </s>
        </div>
        <div class='actors'>
          <p>{{movie.Actors}}</p>
        </div>
        <div class='plot'>
          <p>{{movie.Plot}}</p>
        </div>
        <ul class='details'>
          <li>{{movie.Genre}}</li>
          <li>{{movie.Runtime}}</li>
          <li>{{movie.Awards}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>
</div>
