<div class='vessel'>
<h1>Movies to watch!</h1>

<ul id='movies'>
  <li data-ng-repeat='movie in movies | orderBy : orderMovies("imdbRating", true)'>
    <div class='movie'>
      <movie-poster movie='movie'>
      </movie-poster>
      <div class='data'>
        <header>
          <h2>{{movie.Title}} <span>{{movie.Year}}</span></h2>
        </header>
        <div class='scores'>
          <div class='rect'>
            <s class='imdb' ng-style='imdbBar({{movie.imdbRating}})'>
              <u>IMDB</u>
              <b>{{movie.imdbRating}}</b>
            </s>
          </div>
          <div class='rect' ng-show='validateMetascore("{{movie.Metascore}}")'>
            <s class='metacritic' ng-style='metacriticBar({{movie.Metascore}})'>
              <u>Metascore</u>
              <b>{{movie.Metascore}}%</b>
            </s>
          </div>
        </div>
        <div class='text-block'>
          <p>{{movie.Plot}}</p>
        </div>
        <div class='text-block smaller'>
          <p>{{movie.Actors}}</p>
        </div>
        <ul class='details smaller'>
          <li>{{movie.Genre}}</li>
          <li>{{movie.Runtime}}</li>
          <li>{{movie.Awards}}</li>
        </ul>
      </div>
    </div>
  </li>
</ul>
</div>
