<div class='vessel'>
<ul id='movies'>
  <li data-ng-repeat='movie in movies | filter : { suitable : suitableFor.selected } | orderBy : orderMovies(["imdbRating", "Metascore"], true)'>
    <div class='movie'>
      <movie-poster movie='movie'>
      </movie-poster>
      <div class='data'>
        <header>
          <h2>{{movie.Title}} <span>{{movie.Year}}</span></h2>
        </header>
        <div class='scores'>
          <bar score-value='{{movie.imdbRating | parseFloat:true}}' score-label='{{movie.imdbRating}}' score-type='IMDB'>
          </bar>
          <bar score-value='{{movie.Metascore | parseFloat}}' score-label='{{movie.Metascore}}' score-type='Metascore'>
          </bar>
        </div>
        <div class='text-block'>
          <p>{{movie.Plot}}</p>
        </div>
        <div class='text-block smaller'>
          <p>{{movie.Actors}}</p>
        </div>
        <ul class='details smaller'>
          <li>{{movie.Genre}}</li>
          <li>{{movie.Runtime}}</li>
          <li>{{movie.Awards}}</li>
          <li><a href='http://www.subdivx.com/index.php?buscar={{movie.Title | encodeUri}}&accion=5&masdesc=&subtitulos=1&realiza_b=1'>subs</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
</div>
